<div class="header-container container">
  <header>
    <a href="{{ site.url }}" class="top-link">{{ site.name }}</a>
     <ul class="nav">
      {% for item in site.data.samplelist.docs %}
        {% if item.title == "About" %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ site.url }}/about.html">{{ item.title }}</a>
          </li>
        {% elsif item.title == "Home" %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ site.url }}">{{ item.title }}</a>
          </li>
        {% else %}
          <li class="{% if item.url == page.url %}active{% endif %}">
            <a href="{{ item.url }}">{{ item.title }}</a>
          </li>
      {% endif %}
      {% endfor %}
    </ul>
  </header>
</div>
